[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
cookiecutter = "==1.6.0"
sh = "==1.12.14"
binaryornot = "==0.4.4"
"flake8" = "==3.5.0"
tox = "==3.4.0"
pytest = "==3.8.0"
pytest-cookies = "==0.3.0"

[requires]
python_version = "2.7"
